@model PatientTrac.Models.PatientViewModels.PatientEditAddMeds

@{
    ViewData["Title"] = "AddMeds";
}

<h2>Add Medications to Patient Profile</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMeds">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PatientMedications.PatientId" />
            <div class="form-group">
                <label asp-for="Medications" class="control-label"></label>
                <select asp-for="PatientMedications.MedicationId" class="form-control" asp-items="@Model.Medications"></select>
                <span asp-validation-for="PatientMedications.MedicationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientMedications.CurrentlyTaking" class="control-label"></label>
                <input asp-for="PatientMedications.CurrentlyTaking" class="form-control" />
                <span asp-validation-for="PatientMedications.CurrentlyTaking" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientMedications.StartDate" class="control-label"></label>
                <input asp-for="PatientMedications.StartDate" class="form-control" />
                <span asp-validation-for="PatientMedications.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientMedications.StopDate" class="control-label"></label>
                <input asp-for="PatientMedications.StopDate" class="form-control" />
                <span asp-validation-for="PatientMedications.StopDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientMedications.Dosage" class="control-label"></label>
                <input asp-for="PatientMedications.Dosage" class="form-control" />
                <span asp-validation-for="PatientMedications.Dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
